@media (orientation:portrait){
    .right-link{position:absolute;right:0;cursor:pointer;margin-top:5%;opacity:0.8;z-index:9999;}
    section{width:100%;}
    section > div:first-of-type{height:110px}
    div > div{height:110px;width:100%;}
    .scroll{overflow-x:scroll;}
    /* TIME */
    .time h1{
        margin:5% 3% 1%;
        padding:0;
        float:left;
    }
    .time span:first-of-type{display:block;}
    #level1 #p1
    {
        height: 200px;
        position: absolute;
        top: 120px
    }
    div#earth{
        font-size: 226.707vw;
        left: 30.2671px;
        height: 12.2329%

       /* #level1 #earth{*/
    font-size: 200.707vw;
        left: 60.2671px;
        height: 12.2329%;
        float: left;
        font-size: 1000vw;
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 200px;
    }
}

@media (orientation:landscape){
    div#earth{
        font-size: 10vw!important;
        left: 30.2671px!important;
        height: 12.2329%!important;
        top:30px!important;
    }
    .right-link{position:relative;right:40px;cursor:pointer;margin-top:5%;opacity:0.8;z-index:9999;}
    section#leaderboard{width:100%!important}
    section#leaderboard > div{width:30%!important;}
    div#credits{height:200px;}
    section{width:50%;}
    section:first-of-type{float:left;}
    section:last-of-type{float:right;}
    section > div:first-of-type{height:144px}
    div > div{width:50%;height:199px;}
    div > div:first-of-type{float:left;}
    /*div > div:last-of-type{float:right;}*/
    .scroll{overflow-y:scroll;}

    .dark{color:#34495e;}
    .left{float:left;clear:left;}
    .right{float:right;clear:right}

    /* TIME */
    .time{text-align:center}

    #level1 #p1 {position: absolute;  top: 120px;  width:25%;  }


    .dark{color:#34495e;}
    .left{float:left;clear:left;}
    .right{float:right;clear:right}
    .center{text-align:center;}

    .stock ul{padding:5%;margin:0;}
    .travel > *{margin-bottom:-8%;}
}
p {
    width:94%;
    overflow:hidden;
}
.ellipsis{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.ellipsis::after{
    content:"...";
    float: right;
    position: relative;
    bottom: 24px;
}
.large{font-size:2.1REM}
ul{list-style-type:none;}
#leaderboard ul{float:left;}
/*
#level1 #p1
{
height: 200px;
position: absolute;
top: 120px
}