#controls {
    position:fixed;
    bottom:60px;
    left:70%;
    width:30%;
    z-index:100;
}
#controls i{
    opacity:.75;
    font-size:15vw;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    cursor:pointer;
}
#controls i:hover{
    opacity:1;
    font-size:17vw;
}
#controls i.fa.small{
    opacity:.65!important;
    font-size:16vw!important;
}


#rocket > span{
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    position: fixed;
    left: 40%;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    z-index: 99;
}
#rocket > span > i:first-child{
    position: fixed;
    bottom: 3%;
    left: 40%;
    text-shadow: 1px 1px #666;
}
#rocket > span > i:nth-child(2) {
    position: fixed;
    bottom: 3.2%;
    left: 39.8%;
    background-color: #333;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.8) -1px 1px 3px;
}
.fa-fire {
    position: fixed;
    bottom: 12px;
    left: 12px;
    text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -30px 35px #ec760c,
    -20px -40px 40px #cd4606,
    0 -50px 65px #973716,
    10px -70px 70px #451b0e;
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
#rocket .fa-comment{
    position: absolute;
    bottom: 10px;
    left: 100px;
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    font-size:100px;
    display:none;
}
#rocket .fa-comment>span{
    color: #333;
    font-size: 1.4vw;
    line-height: 2vw;
    position: absolute;
    left: 18px;
    top: 28px;
    font-weight: bold;

}
#mid #stars > i {
    z-index:-99;
}

#saturn{

}
#saturn object{
    z-index:-9;
    width: 120%;
    position: fixed;
    left: -76%;
    bottom: 15%;
    transform: rotate(319deg);

}
#boss .row > div, #mid .row > div, #first .row > div{height:100%}

.falcon {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}
.smallship {
    width:20vw;
    z-index:99;
    float:left;
}
.death_star,.saturn{position:absolute;right: 0%;}
#rocketobject #rocket > span{z-index:999}